.glider-contain{
    width: 1600px;
    height: 600px;
    margin: auto;
    background-color: aqua;
    
}
.img img{
    width: 1600px;
    height: 600px;
}
#chevron{
    margin-top: 90px;
}
@media only screen and (max-width: 1245px){
    .glider-contain{
        width: 900px;}
    
}
@media only screen and (max-width: 950px){
    .glider-contain{
        width: 700px;
        height: 600px;
        background-color: aqua;
    }
    #chevron{
        opacity: 0;
    }
     
}
    @media only screen and (max-width: 765px){
        .glider-contain{
            width: 470px;
            height: 650px;
            background-color: aqua;
        }
    }